.react-flow .react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f08ad4;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow .react-flow__node {
  min-width: 120px;
  max-width: 300px;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  border-radius: 0.8rem;
  font-weight: 700;
  border-color: #784be8;
  background: rgb(237, 237, 208);
  font-size: 1cqw;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}